@font-face {
    font-family: 'Open Sans';
    src: url(./OpenSans-VariableFont_wdth\,wght.ttf);
    font-weight: 600;
    font-style: normal;
}

.hello {
    font-family: 'Open Sans';
    color: red;
    background: url('./20220112_153210.jpg');
}